<ibm-modal class="sick-mdl" size="sm" (overlaySelected)="closeModal()">
    <section clas="modal-body" style="margin: 2rem;" *ngIf="type === 'exposureSymptoms'">
        <h4 style="text-align: center; color:#da1e28;">
            For Personnel with Exposure and Symptoms:
        </h4>
        <br>
        <ul ibmList>
            <li ibmListItem>Seek medical attention immediately, call ahead to inform them of your exposure and symptoms.</li>
            <li ibmListItem>Self-isolate for 14 days starting from the day you were exposed. Refrain from going into an IBM location or client site during this period and advise your manager of your health status.</li>
            <li ibmListItem>Avoid contact with others.</li>
            <li ibmListItem>Do not travel while sick.</li>
            <li ibmListItem>Cover your mouth and nose with a tissue or bent elbow when coughing or sneezing.</li>
            <li ibmListItem>Wash hands often with soap and water for at least 20 seconds or use an alcohol-based sanitizer with at least 60% alcohol.</li>
        </ul>
    </section>
    <section class="modal-body" style="margin: 2rem;" *ngIf="type === 'exposure'">
        <h4 style="text-align: center; color:#da1e28;">
            For Personnel with Exposure but No Symptoms:
        </h4>
        <br>
        <ul ibmList>
            <li ibmListItem>Self-isolate for 14 days starting from the day you were exposed. Refrain from going into an IBM location or client site during this period and advise your manager of your health status.</li>
            <li ibmListItem>Self-monitor and if you experience any symptom, seek medical attention immediately, call ahead to inform them of your exposure and symptoms.</li>
        </ul>
    </section>
    <section class="modal-body" style="margin: 2rem;" *ngIf="type === 'symptoms'">
        <h4 style="text-align: center; color:#da1e28;">
            For Personnel with Symptoms but No Exposure:
        </h4>
        <br>
        <ul ibmList>
            <li ibmListItem>Seek medical attention to manage the illness symptoms.</li>
            <li ibmListItem>Refrain from going into an IBM location or client site until you get evaluated by a healthcare provider and advise your manager of your health status.</li>
        </ul>
    </section>
    <section class="modal-body-no" *ngIf="type === 'noExposureSymptoms'">
        <p class="title-no" style="text-align: left;">
            What do you feel?
        </p>
        <div class="date-row" [formGroup]="submitForm" ibmRow>
            <div ibmCol class="date-div">
                <!-- <ibm-date-picker [(ngModel)]="startDate" label="Start Date" placeholder="mm/dd/yyyy" dateFormat="m/d/Y">
                </ibm-date-picker> -->
                <mat-form-field>
                    <mat-label>Choose a start date</mat-label>
                    <input matInput formControlName="startDate" [matDatepicker]="startDate" (dateChange)="selectDate('start', $event)">
                    <mat-datepicker-toggle matSuffix [for]="startDate"></mat-datepicker-toggle>
                    <mat-datepicker #startDate></mat-datepicker>
                </mat-form-field>
            </div>
            
            <div ibmCol class="date-div">
                <!-- <ibm-date-picker [(ngModel)]="endDate" label="End Date" placeholder="mm/dd/yyyy" dateFormat="m/d/Y">
                </ibm-date-picker> -->
                <mat-form-field>
                    <mat-label>Choose an end date</mat-label>
                    <input matInput formControlName="endDate" [matDatepicker]="endDate" (dateChange)="selectDate('end', $event)">
                    <mat-datepicker-toggle matSuffix [for]="endDate"></mat-datepicker-toggle>
                    <mat-datepicker #endDate></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
        <TextArea ibmTextArea [(ngModel)]="sickness" ngDefaultControl placeholder="Describe your sickness" style="width: 100%"></TextArea>
    </section>
    <div ibmRow>
        <div ibmCol *ngIf="type !== 'noExposureSymptoms' && status === 'work'">
            <button ibmButton="primary" style="align-content: center;" (click)="continueToWork()">Continue to Work</button>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol *ngIf="type !== 'noExposureSymptoms' && status !== 'work'">
            <button ibmButton="primary" style="align-content: center;" (click)="enterDetails()">Enter Sick Leave Details</button>
        </div>
    </div>
    <div ibmRow>
        <div ibmCol *ngIf="type === 'noExposureSymptoms'">
            <button ibmButton="primary" style="align-content: center;" (click)="closeModal(); setStatus()">Submit</button>
        </div>
    </div>
</ibm-modal>