@import "~carbon-components/scss/globals/scss/typography";
@import "~carbon-components/scss/globals/scss/spacing";
.wrapper {
    background-color: #001D6C;
    max-width: 576px;
    min-height: 100vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.wrapper-2 {
    background-color: white;
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
}

.form-field {
    margin-bottom: 0px
}

.display-pic {
    @media screen and (max-width: 768px) {
        max-width: 100% !important;
    }
    @media screen and (max-width: 425px) {
        max-width: 100% !important;
    }
}

.button-select {
    width: 100%;
    border: 2px solid cornflowerblue;
    font-size: 12px;
    color: cornflowerblue;
    background-color: white;
}

.request-title {
    font-size: 2rem;
    font-weight: 400;
    line-height: 2.5rem;
    letter-spacing: 0;
    @media only screen and (max-width: 375px) {
        font-size: 28px;
    }
}

.bx--col {
    padding-left: 0px;
}

.bx--btn {
    padding: calc(0.875rem - 3px) 10% calc(0.875rem - 3px) 5%;
    width: 65%;
    justify-content: center;
    @media only screen and (max-width: 375px) {
        font-size: 12px;
        width: 75%;
    }
}

.bx--btn--primary {
    @media only screen and (max-width: 4096px) {
        margin-left: 0%;
    }
    @media only screen and (max-width: 1024px) {
        margin-left: 6%;
    }
    @media only screen and (max-width: 768px) {
        margin-left: 5%;
    }
    @media only screen and (max-width: 428px) {
        margin-left: 4%;
    }
    @media only screen and (max-width: 375px) {
        margin-left: 10%;
    }
    @media only screen and (max-width: 360px) {}
    @media only screen and (max-width: 320px) {
        margin-left: 0%;
    }
    @media only screen and (max-width: 305px) {
        margin-left: 20%;
        width: 70px;
        padding-left: 5px;
        font-size: 12px;
    }
}

.bx--btn--secondary {
    @media only screen and (max-width: 4096px) {
        margin-left: 35%;
    }
    @media only screen and (max-width: 1024px) {
        margin-left: 30%;
    }
    @media only screen and (max-width: 768px) {
        margin-left: 30%;
    }
    @media only screen and (max-width: 428px) {
        margin-left: 14%;
    }
    @media only screen and (max-width: 375px) {
        margin-left: 15%;
    }
    @media only screen and (max-width: 360px) {}
    @media only screen and (max-width: 320px) {
        margin-left: 20%;
    }
    @media only screen and (max-width: 305px) {
        margin-left: 20%;
        width: 70px;
        padding-left: 5px;
        font-size: 12px;
    }
}

.bx--col.btn-col {
    padding-left: 0;
    padding-right: 0;
}

.bx--row.btn-row {
    margin-left: 0;
    margin-right: 0;
    margin-top: 5%;
}

.custom-row {
    display: flex;
    flex-wrap: nowrap;
    padding-right: 0px;
    padding-left: 0px;
    @media only screen and (max-width: 375px) {
        padding-left: 3%;
    }
    @media only screen and (max-width: 320px) {
        flex-wrap: wrap;
    }
}

.bx--btn.one-submit {
    margin-left: 0%;
}