.no-padding{
    padding-top: 0px;
    padding-right: 20px;
    padding-bottom: 0px;
    padding-left: 20px;
}

.border-letter{
    border-style: solid;
    border-width: 2px;
    border-color: #CDCDCD;
}