<ibm-modal size='sm' (overlaySelected)="closeModal()" style="max-height: 100%;">
    <div ibmGrid class="modal-request">
        <div ibmRow>
            <div ibmCol class="close-div">
                <div style="float: right; cursor: pointer;">
                    <img (click)="closeModal()" src="../../../assets//images/close-icon.svg">
                </div>
            </div>
        </div>
        <div>
            <div *ngIf="requestType !== 'Details'" ibmRow>
                <div ibmCol class="title-div" [columnNumbers]="12">
                    <p class="request-title">Review Action</p>
                </div>
            </div>

            <div *ngIf="requestType === 'Details'" ibmRow>
                <div ibmCol class="title-div" [columnNumbers]="12">
                    <p class="request-title">Request Detail</p>
                </div>
            </div>

            <br>

            <div>
                <br>
                <p class="label-text">Status</p>
                <input ibmText disabled [value]="status">
                <br>
            </div>

            <div *ngIf="substituteName !== ''">
                <p class="label-text">Approval</p>
                <div class="col-auto first-col">
                    <label class="sr-only" for="inlineFormInputGroup">First Approver</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text first">1st</div>
                        </div>
                        <input type="text" disabled="true" [value]="approverOneName" class="form-control approver-name" id="inlineFormInputGroup" placeholder="First Approver">
                        <div class="input-group-prepend">
                            <div class="input-group-text approver-name">{{approverOneStatus}}</div>
                        </div>
                    </div>
                </div>
                <div class="col-auto second-col">
                    <label class="sr-only" for="inlineFormInputGroup">Second Approver</label>
                    <div class="input-group mb-2">
                        <div class="input-group-prepend">
                            <div class="input-group-text second">2nd</div>
                        </div>
                        <input type="text" disabled="true" [value]="approverTwoName" class="form-control approver-name" id="inlineFormInputGroup" placeholder="Second Approver">
                        <div class="input-group-prepend">
                            <div class="input-group-text approver-name">{{approverTwoStatus}}</div>
                        </div>
                    </div>
                </div>
            </div>

            <div>
                <br>
                <p class="label-text">Request Date</p>
                <input ibmText disabled value="04-22-2004 08:43 AM" [(ngModel)]="displayDate">
                <br>
            </div>

            <div ibmRow>
                <div *ngIf="substituteName !== ''" ibmCol class="left-col">
                    <div>
                        <br>
                        <p class="label-text">Requester Name</p>
                        <input ibmText disabled [(ngModel)]="requesterName">
                        <br>
                    </div>
                </div>

                <div *ngIf="substituteName === ''" ibmCol class="left-col">
                    <br>
                    <p class="label-text">Manager Name</p>
                    <input ibmText disabled [value]="requesterName">
                    <br>
                </div>

                <div ibmCol class="right-col">
                    <div>
                        <br>
                        <p class="label-text">Shift Name</p>
                        <input ibmText disabled value="Shift 1 Prudential" [(ngModel)]="requesterShiftName">
                    </div>
                </div>
            </div>

            <div>
                <br>
                <p class="label-text">Shift Date</p>
                <input ibmText disabled value="04-22-2004 08:43 AM" [(ngModel)]="requesterShiftDate">
                <br>
            </div>

            <div *ngIf="substituteName !== ''" ibmRow>
                <div ibmCol class="left-col">
                    <div>
                        <br>
                        <p class="label-text">Substitute Name</p>
                        <input ibmText disabled value="John Collins" [(ngModel)]="substituteName">
                        <br>
                    </div>
                </div>

                <div ibmCol class="right-col">
                    <div>
                        <br>
                        <p class="label-text">Substitute Shift Name</p>
                        <input ibmText disabled value="Shift 3 Prudential" [(ngModel)]="substituteShiftName">
                    </div>
                </div>
            </div>

            <div *ngIf="substituteName !== ''">
                <br>
                <p class="label-text">Substitute Shift Date</p>
                <input ibmText disabled value="04-22-2004 08:43 AM" [(ngModel)]="substituteShiftDate">
                <br>
            </div>

            <div>
                <br>
                <p class="label-text">Remarks</p>
                <input ibmText disabled value="Remarks" [(ngModel)]="remarks">
                <br>
            </div>


            <div *ngIf="requestType === 'Pending'">
                <br>
                <TextArea ibmTextArea class="reason" ngDefaultControl placeholder="Reason for rejection/approval" [(ngModel)]="rejection">
                </TextArea>
                <br>
            </div>

            <br><br>
            <div *ngIf="requestType === 'Pending'" ibmRow class="custom-row">
                <div class="btn-col" ibmCol>
                    <button class="bx--btn bx--btn--danger" (click)="rejectRequest()">Reject</button>
                </div>
                <div class="btn-col" ibmCol>
                    <button class="bx--btn bx--btn--primary" (click)="approveRequest()">Approve</button>
                </div>
            </div>

            <div *ngIf="requestType === 'Details' && status === 'REQUESTED' && type === 'IncomingShift' && substituteName !== ''" ibmRow class="custom-row">
                <div ibmCol>
                    <button style="justify-content: center;" class="bx--btn bx--btn--danger" (click)="rejectShift()">Reject</button>
                </div>
                <div ibmCol>
                    <button style="justify-content: center; margin-left: 15%" class="bx--btn bx--btn--primary" (click)="acceptShift()">Accept</button>
                </div>
            </div>

            <div *ngIf="requestType === 'Details' && status === 'REQUESTED' && type === 'AssignedShift' && substituteName === ''" ibmRow class="custom-row">
                <div ibmCol>
                    <button style="justify-content: center;" class="bx--btn bx--btn--danger" (click)="rejectAssignShift()">Reject</button>
                </div>
                <div ibmCol>
                    <button style="justify-content: center; margin-left: 15%" class="bx--btn bx--btn--primary" (click)="approveAssignShift()">Approve</button>
                </div>
            </div>

            <div *ngIf="requestType === 'Details' && status === 'REQUESTED' && type === 'Shift'" ibmRow class="custom-row">
                <div ibmCol style="text-align: center">
                    <button style="justify-content: center; margin-left: 0%" id="buttonSubmit" class="bx--btn bx--btn--danger" (click)="cancelShift()">Cancel This Request</button>
                </div>
            </div>
        </div>
    </div>
</ibm-modal>