<div class="wrapper" ibmGrid>
    <div class="wrapper-2">
        <p class="request-title">Position History</p>

        <div style="justify-content: center;" class="body-text" ibmRow>
            <div ibmCol [columnNumbers]="{'lg': 4, 'md': 4, 'sm': 2}" class="scrollable">
                <ibm-dropdown [placeholder]="monthName" (selected)="onSelectedMonth($event)">
                    <ibm-dropdown-list [items]="months"></ibm-dropdown-list>
                </ibm-dropdown>
            </div>
            <div ibmCol [columnNumbers]="{'lg': 4, 'md': 4, 'sm': 2}" class="scrollable">
                <ibm-dropdown [placeholder]="year" (selected)="onSelectedYear($event)">
                    <ibm-dropdown-list [items]="years"></ibm-dropdown-list>
                </ibm-dropdown>
            </div>
        </div>

        <br><br>

        <!-- Start of Body -->
        <div class="body-text" ibmRow>
            <div ibmCol [columnNumbers]="{'lg': 16, 'md': 8, 'sm': 4}" class="scrollable">
                <table ibmTable [sortable]="false">
                    <thead ibmTableHead>
                        <tr>
                            <th class="row-header"
                                ibmTableHeadCell
                                *ngFor="let column of model.header"
                                [column]="column">
                            </th>
                        </tr>
                    </thead>
                    <tbody ibmTableBody *ngIf="dataExist">
                        <tr
                            *ngFor="let row of model.data; let i = index"
                            ibmTableRow
                            [row]="row">
                                <td *ngFor="let item of row; let j = index"
                                    class="row-text"
                                    ibmTableData
                                    [item]="item">
                                </td>
                        </tr>
                    </tbody>
                    <tbody *ngIf="!dataExist"><tr><td class="no-data" colspan="3"><div>No history yet.</div></td></tr></tbody>
                </table>  
                <!-- Start of Pagination -->
                <mat-paginator 
                    [length]="paginationModel.totalDataLength"
                    [pageSize]="10"
                    hidePageSize=true
                    [pageIndex]="paginationModel.currentPage"
                    (page)="changePage($event)">
                </mat-paginator>
                <!-- End of Pagination -->
            </div>
        </div>
        <!-- End of Body -->
    </div>
</div>