$color-primary: #2B77E4;
$color-primary-light: #9DC0FF;
$color-primary-dark: #4D637B;
$color-black: #000000;
$color-burly-wood: #E2BB6F;
$color-corn-flower-grey: #6B6C87;
$color-corn-flower-blue: #2c2e83;
$color-dark-gray: #9797B4;
$color-dark-slate-blue: #3C3A70;
$color-dark-slate-gray: #2B2942;
$color-dim-gray: #4C617C;
$color-gainsboro: #DCE1E9;
$color-ghost-white: #f1f1f5;
$color-ghost-white-v2: #F5F9FF;
$color-grey-white: #EDF1F5;
$color-light-sky-blue: #9EA8FF;
$color-medium-purple: #8485CA;
$color-medium-sea-green: #34A68A;
$color-orange: #E69835;
$color-royal-blue: #4F5FF0;
$color-royal-blue-v2: #4654D1;
$color-slate-gray: #7C89FF;
$color-slate-gray-v2: #9288EF;
$color-pale-violet-red: #E16685;
$color-transparant: #00000000;
$color-white: #FFFFFF;
$color-menu-active: #E1E5F1;
$color-menu-inactive: #818792;
$font-bold: 'IBM-Plex-Sans-Bold';
$font-italic: 'IBM-Plex-Sans-Italic';
$font-medium: 'IBM-Plex-Sans-Medium';
$font-regular: 'IBM-Plex-Sans-Regular';
$font-semi-bold: 'IBM-Plex-Sans-Semi-Bold';